
body{
font-family:Arial;
background:#0f0f0f;
color:white;
text-align:center;
}

header{
background:#1c1c1c;
padding:20px;
}

.container{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.card{
background:#222;
padding:20px;
border-radius:10px;
width:200px;
}

button{
padding:10px 20px;
border:none;
background:red;
color:white;
border-radius:6px;
cursor:pointer;
}

.qr{
width:250px;
margin:20px;
}

.roomBox{
background:#222;
padding:30px;
margin:40px;
border-radius:10px;
font-size:22px;
}
